/* .loader {
    width: 48px;
    height: 48px;
    position: absolute;
    left: 45%;
    top: 37%;
    z-index: 10;
    display: none;
  }
  .loader::before , .loader::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
    width: 48em;
    height: 48em;
    background-image:
      radial-gradient(circle 10px, #b410e1 100%, transparent 0),
      radial-gradient(circle 10px, #b410e1 100%, transparent 0),
      radial-gradient(circle 10px, #b410e1 100%, transparent 0),
      radial-gradient(circle 10px, #b410e1 100%, transparent 0),
      radial-gradient(circle 10px, #b410e1 100%, transparent 0),
      radial-gradient(circle 10px, #b410e1 100%, transparent 0),
      radial-gradient(circle 10px, #b410e1 100%, transparent 0),
      radial-gradient(circle 10px, #b410e1 100%, transparent 0);
    background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em,
                         13em -13em, -13em -13em, 13em 13em, -13em 13em;
      background-repeat: no-repeat;
    font-size: 0.5px;
    border-radius: 50%;
    animation: blast 1s ease-in infinite;
  }
  .loader::after {
    font-size: 1px;
    background: #b410e1;
    animation: bounce 1s ease-in infinite;
  }
  
  @keyframes bounce {
    0% , 100%{ font-size: 0.75px }
    50% { font-size: 1.5px }
  }
  @keyframes blast {
    0% , 40% {
      font-size: 0.5px;
    }
    70% {
      opacity: 1;
      font-size: 4px;
    }
     100% {
       font-size: 6px;
      opacity: 0;
    }
  } */

  .loader {
    width: 100%;
    height: 100%;
    display: block;
    margin: auto;
    position: absolute;
    background: #FFF;
    box-sizing: border-box;
    display: none;
    z-index: 10;
  }
  .loader::after {
    content: '';
    width: calc(100% - 30px);
    height: calc(100% - 15px);
    top: 15px;
    left: 15px;
    position: absolute;
    background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%),
     linear-gradient(#DDD 100px, transparent 0),
     linear-gradient(#DDD 16px, transparent 0),
     linear-gradient(#DDD 50px, transparent 0);
    background-repeat: no-repeat;
    background-size: 75px 175px, 100% 100px, 100% 16px, 100% 30px;
    background-position: -185px 0, center 0, center 115px, center 142px;
    box-sizing: border-box;
    animation: animloader 1s linear infinite;
  }
  
  @keyframes animloader {
    to {
      background-position: 185px 0, center 0, center 115px, center 142px;
    }
  }
  